* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#landingpage {
	/*opacity: 0.60*/
	background-color: rgba(0,0,0,.60);
}

body {
	background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHVycGxlJTIwY2xvdWRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#imagecar {
	height: 400px;
	width: 400px;
}

#bs_img {
	height: 34%;
	width: 100%;
}

#message_sec {
	background-color: #F6C042;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}
